In [1]:
import pandas as pd

In [12]:
apple = pd.read_csv('/Users/ybeen/Downloads/Bas_GarakPrice_사과.csv', encoding='cp949')

In [19]:
apple['품목명'] = apple['품목명'].apply(lambda x: x[11:])

In [20]:
apple

             일자    품목명  단량 등급   평균가격   최고가격   최저가격
0      20211030  사과 홍옥  10  특  54167  60000  49000
1      20211030  사과 홍옥  10  상  42417  49000  33000
2      20211030  사과 홍옥  10  하  18583  21000  15000
3      20211030  사과 홍옥  10  중  27038  33000  24000
4      20211029  사과 홍옥  10  하  18583  21000  15000
...         ...    ...  .. ..    ...    ...    ...
61023  20030903  사과 홍로   5  특  49000  55000  43000
61024  20030902  사과 홍로   5  특  44000  50000  38000
61025  20030902  사과 홍로   5  중  19000  23000  15000
61026  20030902  사과 홍로   5  하  11000  15000   7000
61027  20030902  사과 홍로   5  상  30500  38000  23000

[61028 rows x 7 columns]

In [14]:
a= '과실류 > 사과 > 사과 홍옥'

In [18]:
a[11:]

'사과 홍옥'